<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %}{{ 'base.title'|trans }}{% endblock head_title %}</title>
        {% block stylesheets %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}">
        {% include 'AvocodeFormExtensionsBundle::stylesheets.html.twig' %}
        {% if form is defined %}
        {{ afe_form_stylesheet(form) }}
        {% endif %}
        {% stylesheets 'bundles/projectmgmt/css/*' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
        {% endblock stylesheets %}
    </head>
    <body oncontextmenu="return false;">
        <header>
            <div class="row">
                <div class="container">
                    <h1>
                        <a href="{{ path('project_mgmt_homepage') }}" class="brand">
                            {% block title %}{{ 'base.title'|trans }}{% endblock title %}
                        </a>
                    </h1>
                </div>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ 'base.navbar.user.user.label'|trans({'%username%': app.user.username}) }}
                                <i class="icon icon-white fa fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">{{ 'base.navbar.user.logout.label'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'base.navbar.user.login.label'|trans }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <div id="content" style="min-height: 200px;">
            <div class="container">
                {% spaceless %}
                {% block flash_messages %}
                {% include 'ProjectMgmtBundle::flash_messages.html.twig' %}
                {% endblock flash_messages %}
                {% if error is defined and error %}
                <div class="alert alert-danger">
                    {{ error.message }}
                </div>
                {% endif %}
                {% endspaceless %}
                <div class="row">
                    <div class="col-md-3">
                        <ul id="menu" class="nav nav-pills nav-stacked">
                            {% for book in books %}
                            <li class="active">
                                <a data-toggle="collapse" data-parent="#menu" href="#book-{{ book.id }}" class="right-clickable">{{ book.name }}</a>
                                <ul id="book-{{ book.id }}" class="nav nav-pills nav-stacked collapse">
                                    {% for chapter in book.chapters %}
                                    <li>
                                        <a href="{{ path('chapter_show', { 'id': chapter.id }) }}">{{ chapter.name }}</a>
                                    </li>
                                    {% endfor %}
                                    <li>
                                        <a href="{{ path('chapter_new', { 'idBook': book.id }) }}">Nouveau chapitre</a>
                                    </li>
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-9">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="container">
            </div>
        </footer>
        {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        {% include 'AvocodeFormExtensionsBundle::javascripts.html.twig' %}
        {% if form is defined %}
        {{ afe_form_javascript(form) }}
        {% endif %}
        <script src="{{ asset('bundles/projectmgmt/js/projectmgmt.js') }}" type="text/javascript"></script>
        {% endblock javascripts %}
    </body>
</html>