<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %}{{ 'base.title'|trans }}{% endblock head_title %}</title>
        {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
        <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}">
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% include 'AvocodeFormExtensionsBundle::stylesheets.html.twig' %}
        {% if form is defined %}
        {{ afe_form_stylesheet(form) }}
        {% endif %}
        {% stylesheets 'bundles/projectmgmt/css/*' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
        {% endstylesheets %}
        {% endblock stylesheets %}
    </head>
    {% block body %}
    <body>
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-menu">
                            <span class="sr-only">{{ 'base.navbar.toggle'|trans }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand acme" href="{{ path('project_mgmt_homepage') }}">{{ 'base.title'|trans }}</a>
                    </div>
                    <div class="collapse navbar-collapse" id="top-menu">
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user"></i>
                                    {{ 'base.navbar.user.user.label'|trans({'%username%': app.user.username}) }} <b class="caret"></b>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                <i class="fa fa-power-off"></i>
                                                {{ 'base.navbar.user.logout.label'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block flash_messages %}
            {% include 'ProjectMgmtBundle::flash_messages.html.twig' %}
            {% endblock flash_messages %}
            <div class="row">
                <div class="col-md-9" id="content">
                    {% block content %}{% endblock %}
                </div>
                <div id="sidebar" class="col-md-3">
                    <ul id="menu" class="nav nav-pills nav-stacked">
                        {% for book in books %}
                        <li>
                            <a class="book" href="{{ path('book_show', {id: book.id}) }}" {#data-toggle="collapse" data-parent="#menu" href="#book-{{ book.id }}"#}>
                                <i class="fa fa-book fa-lg"></i>
                                {{ book.name }}
                            </a>
                        </li>
                        {% endfor %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a class="book" href="{{ path('book_new') }}">
                                <i class="fa fa-plus"></i>
                                {{ 'base.sidebar.book.new'|trans }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% block javascripts %}
        {% javascripts
            '../vendor/jquery/jquery/jquery-1.10.2.js'
            '../vendor/jquery/jquery-blockui/jquery.blockUI.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ asset('/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% include 'AvocodeFormExtensionsBundle::javascripts.html.twig' %}
        {% if form is defined %}
        {{ afe_form_javascript(form) }}
        {% endif %}
        <script src="{{ asset('bundles/projectmgmt/js/jquery.blockUI.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/projectmgmt/js/projectmgmt.js') }}" type="text/javascript"></script>
        {% endblock javascripts %}
    </body>
    {% endblock body %}
</html>
